[Desktop Entry]
Type=Application
TryExec=kterminal
Exec=kterminal
Icon=utilities-terminal
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
X-DBUS-StartupType=Unique
StartupNotify=true
X-KDE-AuthorizeAction=shell_access
StartupWMClass=kterminal

Name=KTerminal

GenericName=Terminal

Comment=Command line access
Comment[ast]=Accesu a la llinia de comandos
Comment[ca]=Accés a la línia d'ordres
Comment[ca@valencia]=Accés a la línia d'ordres
Comment[cs]=Přístup k příkazové řádce
Comment[da]=Kommandolinjetilgang
Comment[de]=Zugriff auf die Befehlszeile
Comment[el]=Πρόσβαση από τη γραμμή εντολών
Comment[en_GB]=Command line access
Comment[es]=Acceso a la línea de órdenes
Comment[et]=Käsurea kasutamine
Comment[eu]=Komando-lerrora sarbidea
Comment[fa]=دسترسی خط فرمان
Comment[fi]=Pääsy komentoriville
Comment[fr]=Ligne de commande
Comment[gl]=Acceso á liña de ordes.
Comment[he]=גישה לשורת הפקודה
Comment[hu]=Parancssori hozzáférés
Comment[ia]=Accesso a linea de commando
Comment[id]=Akses baris perintah
Comment[is]=Aðgangur með skipanalínu
Comment[it]=Accesso alla riga di comando
Comment[ko]=명령행 접근
Comment[nb]=Tilgang til kommandolinje
Comment[nl]=Toegang tot de opdrachtregel
Comment[nn]=Kommandolinjetilgang
Comment[pl]=Dostęp do wiersza poleceń
Comment[pt]=Acesso à linha de comandos
Comment[pt_BR]=Acesso à linha de comandos
Comment[ru]=Доступ к командной строке
Comment[sk]=Prístup na príkazový riadok
Comment[sl]=Dostop do ukazne vrstice
Comment[sr]=Приступ командној линији
Comment[sr@ijekavian]=Приступ командној линији
Comment[sr@ijekavianlatin]=Pristup komandnoj liniji
Comment[sr@latin]=Pristup komandnoj liniji
Comment[sv]=Åtkomst till kommandorad
Comment[tr]=Komut satırı erişimi
Comment[uk]=Доступ до командного рядка
Comment[x-test]=xxCommand line accessxx
Comment[zh_CN]=命令行访问
Comment[zh_TW]=指令列

